*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.875rem;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--primary-color);
  background: var(--background-color);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  margin: 0.375rem;
}
nav svg {
  /* margin: auto 0.5rem; */
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}
nav a:visited {
  color: var(--primary-color);
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav div {
  height: 100%;
}
nav > div:not([class]) {
  display: flex;
}
nav a {
  margin: auto 1rem;
  text-align: center;
  text-align: justify;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;
}
#sign-up-button:hover {
  text-decoration: none;
}
#sign-up-button {
  font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  text-align: center;
  outline: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid transparent;
  color: #fff;
  max-height: 2.4rem;
  min-width: 6rem;
  border-radius: 0.25rem;
  background-color: var(--button-color);
}
.mobile-only {
  display: none;
}
.search-bar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-bar-section > img {
  margin-top: 4vh;
  margin-bottom: 1.5rem;
  max-width: 272px;
  max-height: 92px;
  aspect-ratio: auto 272 / 92;
}
.search-bar-section div {
  display: flex;
  align-items: center;
  background: #fff;
  width: 66vw;
  min-width: 377px;
  min-height: 40px;
  height: 6.5vh;
  border: 1px solid #dfe1e5;
  border-radius: 1.5rem;
  padding: 0.3125rem 0.5rem 0 0.875rem;
}
#search-icon {
  filter: invert(65%) sepia(2%) saturate(1164%) hue-rotate(169deg)
    brightness(98%) contrast(93%);
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.874rem;
}
.search-bar-section div img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.search-bar-section input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 0.3125rem;
}
.trending-box {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}
.trending-box span {
  font-size: 1.25rem;
  color: #202124;
  display: inline-block;
  margin-bottom: 0.875rem;
}
.trending-box ul {
  list-style-type: none;
}
.trending-box li:before {
  content: "";
  margin-right: 1.2rem;
  background-image: url(../assets/trending.svg);
  filter: invert(19%) sepia(9%) saturate(461%) hue-rotate(163deg)
    brightness(98%) contrast(81%);
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.trending-box li {
  display: flex;
  font-size: 1rem;
  color: #202124;
  align-items: center;
  margin-left: 0.5rem;
  border-bottom: 1px solid #dadce0;
  min-height: 3.25rem;
}
footer {
  width: 100%;
  min-height: 10vh;
  background-color: #f2f2f2;
  color: #70757a;
  position: absolute;
  bottom: 0;
}

footer > :first-child {
  height: 2.5rem;
  width: 100%;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}
footer > .not-for-mobile :first-of-type {
  display: flex;
  margin: 0.5rem 0;

  justify-content: center;
  align-items: center;
}
footer div span {
  margin-top: 0.5rem;
}
footer div span::before {
  content: "";
  background-image: url(../assets/carbon.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 1rem;
  width: 1rem;
}

.footer-links {
  display: flex;
  padding: 0 1.25rem;
  justify-content: space-around;
  margin-top: 2rem;
}
.footer-links-mobile {
  display: none;
  flex-wrap: wrap;
}

.footer-links > :first-child {
  width: 40%;
}
.footer-links > :last-child {
  width: 30%;
}

.footer-links-mobile div,
.footer-links div {
  display: flex;
  margin-bottom: 1.5rem;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.footer-links-mobile > :first-child {
  margin-top: 1rem;
}
footer a:visited {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: underline;
}
footer a {
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 480px) {
  .footer-links-mobile {
    display: flex;
  }
  .footer-links {
    display: none;
  }
  .search-bar-section img {
    max-width: 160px;
    max-height: 56px;
  }
  .mobile-only {
    display: inline-block;
  }
  .not-for-mobile {
    display: none;
  }
}
.mobile-only .active {
  border-bottom: 2px solid var(--button-color);
}
