/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,500&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500%7CMaterial+Icons%7CGoogle+Sans+Mono%7CGoogle+Sans:300,400,500,600,700%7CGoogle+Sans+Text&display=swap");
:root {
  --primary-text-color: #202124;
  --secondary-color: #3c4043;
  --font-family: Roboto, Arial, sans-serif;
  --background-color: #f8f9fa;
  --secondary-background-color: #70757a;
  --active-background-color: #fff;
  --button-color: #1a73e8;
}
